/* Login.css */
body {
    font-family: 'Arial', sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  .login-box {
    background: white;
    padding: 3rem;                                /*1rem = 16px*/
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .linput-field {
    width: 90%;
    padding: 15px; 
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 18px; 
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }

  .signup-button-link {
    width: 48%;
    padding: 1rem;
    background: white;
    color: #2563eb;
    border: 2px solid #2563eb;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 2px;
  }
  
  .login-button-link {
    width: 48%;
    padding: 1rem;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin: 2px;
  }
  